<div class="text-center">
  <h2 id="name">{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p id="description">{{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <textarea name="text" id="comment" cols="30" rows="10"></textarea>
  <p>
    {{!-- <a class="btn btn-primary" data-id ="{{id}}" >comment</a> --}}
    <button class="btn btn-primary" id="commentbtn" data-id ="{{id}}" >comment</button>
  </p>
</div>

<script src="/js/project.js"></script>